.container{
    display: inline-flex;
    flex:1 1 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border:1px solid #ccc;
}

.icon{
    padding:0.8rem;
}

.searchBox {
    border:0;
    flex:1;
}

.searchBox:focus{
    outline:0;
}

.searchButtom{
    color:white;
    background-color: #007bff;
    border:0;
    padding:0.8rem;
    cursor: pointer;
    border-radius: 8px;
}